<!-- <p>cadeau-card works!</p> -->
<!-- Les cadeaux sont représenté par des card contenant au minima une image, 
un titre et un bouton faisant référence a un site marchant. C'est un composant components/CadeauCard -->
<div class="card" style="width: 18rem">
  <img [src]="cadeau.image" class="card-img-top" alt="peluche creepy" />
  <div class="card-body">
    <h5 class="card-title">{{ cadeau.nom }}</h5>
    <p class="card-text">{{ cadeau.description }}</p>
    <p class="card-text">{{ cadeau.prix }}</p>
    <a href="#" class="btn btn-primary"
      >Site en ligne</a>
  </div>
</div>
