<!-- <p>cadeau-card works!</p> -->
<!-- Les cadeaux sont représenté par des card contenant au minima une image, 
un titre et un bouton faisant référence a un site marchant. C'est un composant components/CadeauCard -->
<div class="card" style="width: 18rem;">
    <img src="/client/src/assets/peluche.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Peluche</h5>
      <p class="card-text">Une peluche à la fois douce et effrayante, elle marche, parle et fonctionne sans pile</p>
      <a href="#" class="btn btn-primary">Consulter le site en ligne de ce produit</a>
    </div>
  </div>